@media (prefers-color-scheme: dark) {

    /* Background color */
    html { background: #333; }
    
    /* Text color */
    html, 
    .project div,
    .tooltip-wrapper .tooltip {
        color: #f8f8f8;
    }

    footer,
    .reading-time-label {
        color: #A0A0A0;
    }
    
    /* Link color */
    a, a:hover, a:visited,
    footer a:hover,
    .project:hover h2 {
        color: #8F93FF;
    }
    
    main a:hover,
    nav li a:hover,
    footer a:hover {
        border-color: #8F93FF;
    }

    /* Nav hover color */
    nav li a:hover,
    .project:hover {
        background-color: rgba(255, 255, 255, 8%);
    }

    /* Logo */
    header img {
        filter: invert(99%) sepia(6%) saturate(54%) hue-rotate(286deg) brightness(113%) contrast(95%);
    }

    header img:hover {
        filter: invert(55%) sepia(40%) saturate(708%) hue-rotate(200deg) brightness(102%) contrast(102%);
    }

    /* Tooltip */
    .tooltip-wrapper .tooltip { background-color: black; }

    .tooltip-wrapper .tooltip::after { /* renders caret of tooltip */
        border-color: transparent transparent black transparent;
    }

}