@media (prefers-color-scheme: dark) {

    /* Background colors */
    html { background: #333; }
    
    /* Text colors */
    html, 
    nav a, nav a:visited,
    mark,
    .project-card div,
    .tooltip-wrapper .tooltip {
        color: #f8f8f8;
    }

    footer,
    .reading-time-label {
        color: #A0A0A0;
    }
    
    a, a:hover,
    nav li a:hover,
    footer .text-left a:hover,
    .project-card:hover h2 {
        color: #8F93FF;
    }

    a {
        text-decoration-color: #5254a3;
    }

    a:visited,
    footer .text-left a:visited:hover,
    .project-card:visited:hover h2 {
        color: #cb6fff;
    }

    a:visited {
        text-decoration-color: #803da7;
    }

    /* Stroke colors */
    nav li.active a {
        border-bottom: 4px solid #f8f8f8;
    }
    
    nav li a:hover {
        border-color: #8F93FF;
    }

    header img,
    footer img {
        filter: invert(99%) sepia(6%) saturate(54%) hue-rotate(286deg) brightness(113%) contrast(95%);
    }

    header img:hover,
    footer img:hover {
        filter: invert(55%) sepia(40%) saturate(708%) hue-rotate(200deg) brightness(102%) contrast(102%);
    }

    /* Fill colors */
    mark { background-color: rgba(255, 255, 255, 25%); }

    nav li a:hover,
    .project-card:hover {
        background-color: rgba(255, 255, 255, 8%);
    }

    .tooltip-wrapper .tooltip { background-color: black; }

    .tooltip-wrapper .tooltip::after { /* renders caret of tooltip */
        border-color: transparent transparent black transparent;
    }

}