

@media screen and (min-width: 940px) {

      
    .tooltip-wrapper .tooltip {
        position: absolute;
        width: 200px; /* adjusts width of tooltip content area */
        background-color: #333;
        color: #f8f8f8;
        line-height: normal;
        text-align: center;
        border-radius: 4px;
        padding: 8px;
        z-index: 1;
        top: 100%; /* adjust vertical position of tooltip */
        left: -67px; /* adjusts horizontal position of tooltip */
    }
        
    .tooltip-wrapper .tooltip::after { /* renders caret of tooltip */
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #333 transparent;
    }
        
    .tooltip-wrapper:hover .tooltip {
        visibility: visible;
    }


}