/* Page layout CSS */
html,
body {
  font-family: 'Lato', sans-serif !important;
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3 {
  font-weight: 300;
}
.container {
  max-width: 960px;
  min-height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  height: 125px;
}
#content {
  position: relative;
  padding-top: 20px;
  padding-bottom: 200px;
}
#footer {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-size: 0.9em;
  text-align: center;
}
#footer span {
  padding: 15px 0px 15px 0px;
}
#footer .fa {
  color: black;
  text-align: center;
  padding-top: 15px;
}
#footer .fa:hover {
  color: #f87217;
}
/* end */
/* Navbar CSS */
.navbar {
  border-radius: 0% !important;
  background: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 1.2em;
  border: none !important;
  box-shadow: none;
  max-height: 150px;
}
.navbar .glyphicon {
  padding-right: 10px;
  padding-top: 0px;
  display: inline;
}
.navbar #logo {
  width: 100%;
}
.navbar .btn,
.navbar navbar-collapse {
  border: 0;
}
.navbar .navbar-collapse {
  background-color: #000000;
}
.navbar li {
  padding-right: 10px;
}
/* end */
/* Button CSS */
.btn {
  border-radius: 0%;
}
/* end */
/* Link CSS */
a {
  color: #f87217;
}
a:hover {
  color: #f87217 !important;
}
/* end */
/* Carousel CSS */
.carousel-inner > .item > img {
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
}
.carousel .carousel-control {
  background-image: none;
  border: none;
  text-shadow: none;
}
.glyphicon-chevron-right,
.glyphicon-chevron-left {
  color: black;
}
.glyphicon-chevron-right:hover,
.glyphicon-chevron-left:hover {
  color: #f87217;
}
.carousel-indicators li {
  border-color: black;
}
.carousel-indicators li:hover {
  background-color: #f87217;
  border-color: #f87217;
}
.carousel-indicators .active {
  background-color: black;
}
#homepage-carousel {
  margin: -75px 0 0 0;
  width: 100%;
}
/* end */
/* iframe CSS */
iframe {
  width: 97vw;
  height: 100vh;
  border: none;
}
/* end */
/* Code CSS */
.code-hl {
  color: #f87217;
}
/* end */
/* AudioJS CSS */
.audiojs {
  width: 100%;
  background: none;
  box-shadow: none;
  border: none;
}
.audiojs .play-pause {
  height: 100%;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
}
.audiojs .play,
.audiojs .pause,
.audiojs .loading {
  margin-top: 5px;
}
.audiojs .play {
  background: url("/assets/images/play.svg");
  background-repeat: no-repeat;
}
.audiojs .pause {
  background: url("/assets/images/pause.svg");
  background-repeat: no-repeat;
}
.audiojs .loading {
  background: url("/assets/images/loading.svg");
  background-repeat: no-repeat;
}
.audiojs .progress,
.audiojs .loaded {
  border-radius: 0;
}
.audiojs .progress {
  background: #f87217;
  height: 100%;
}
.audiojs .loaded {
  background: black;
}
.audiojs .scrubber {
  width: 60vw;
  max-width: 850px;
  border: none;
  background: black;
}
.audiojs .time {
  display: none;
}
/* end */
