[submodule "TwitterTicker"]
	path = TwitterTicker
	url = https://github.com/edwinchoate/TwitterTicker
[submodule "audiojs"]
	path = audiojs
	url = https://github.com/edwinchoate/audiojs
[submodule "off_season"]
	path = off_season
	url = https://github.com/edwinchoate/off_season
[submodule "faze"]
	path = faze
	url = https://github.com/edwinchoate/faze
