[submodule "TwitterTicker"]
	path = TwitterTicker
	url = https://github.com/edwinchoate/TwitterTicker
[submodule "audiojs"]
	path = audiojs
	url = https://github.com/edwinchoate/audiojs
[submodule "OffSeason"]
	path = OffSeason
	url = https://github.com/edwinchoate/OffSeason
[submodule "qr_fun"]
	path = qr_fun
	url = https://github.com/edwinchoate/qr_fun
