
<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top text-uppercase animated slideInDown">
    
    <div class="container">
        <a href="/"><img id="logo" src="/assets/images/logos/main_logo.svg" alt="edwinchoate.com"/></a>
    </div>

    <div class="container">

        <!-- Navbar header for mobile display -->
        <div class="navbar-header">

            <button type="button" class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-options">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div> <!-- Navbar header end -->

        <!-- Navbar collapsable menu -->
        <div class="collapse navbar-collapse" id="navbar-collapse-options">

            <!-- Navbar Menu Components -->
            <ul class="nav navbar-nav navbar-right">
                
                <!-- LOGOS -->
                <li><a href="/logos">logos</a></li>
                <!-- MUSIC -->
                <li><a href="/music">music</a></li>
                <!-- OFF SEASON -->
                <li><a href="/offseason">off season</a></li>
                <!-- RESUME 
                <li><a href="resume.html">resume</a></li> -->

            </ul> <!-- Navbar Menu end -->

        </div>

    </div> <!-- Container-fluid end -->

</nav> <!-- Navbar end -->
