<footer class="site-footer">

  <div class="container-fluid">
    <div class="row">
      <span class="col-sm-8 col-xs-12"><p class="copyright-blurb">&copy; <script>document.write(new Date().getFullYear().toString());</script> Edwin Choate</p></span>
      <span class="footer-icons text-center">
        <a href="/feed.xml" target="_blank"><span class="col-sm-1 col-xs-3"><i class="fa fa-rss fa-2x"></i></span></a>
        <a href="https://github.com/{{ site.github_username }}" target="_blank"><span class="col-sm-1 col-xs-3"><i class="fa fa-github-alt fa-2x"></i></span></a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><span class="col-sm-1 col-xs-3"><i class="fa fa-linkedin fa-2x"></i></span></a>
        <a href="mailto:{{ site.email }}"><span class="col-sm-1 col-xs-3"><i class="fa fa-envelope-o fa-2x"></i></span></a>
      </span>
    </div>
  </div>

</footer>
