<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="edwin, choate, edwin choate, computer science, computational media, georgia tech, tech, web development, design, blog, logos, off season game, creative, atlanta, georgia">
  <meta name="copyright" content="Edwin Choate">
  <meta name="language" content="English">
  <meta name="contact" content="edwin.choate@gatech.edu">
  <meta name="author" content="Edwin Choate">
  <meta name="web_author" content="Edwin Choate">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="{{ site.url }}/img/ec_favicon.png">

  <!-- bower_components -->
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

  <!-- prismjs code syntax highlighting -->
  <link rel="stylesheet" href="/css/prism.css">

  <!-- handles day/night mode  -->
  <script>
    var time, theme, customCSS;

    time = new Date().getHours();

    // night theme is between 7pm and 5am
    if (time >= (12 + 7) || time < 5) {
      theme = "dark";
    } else {
      theme = "light";
    }

    // create link to color-appropriate .css file
    customCSS = document.createElement("link");
        customCSS.type = "text/css";
        customCSS.rel = "stylesheet";
        customCSS.href = "/css/main-theme-" + theme + ".css";
    document.getElementsByTagName("head")[0].appendChild(customCSS);
  </script>

</head>
