<header class="site-header">

    <nav class="site-nav">

        <!-- hamburger menu icon -->
        <div class="menu-bar">
          <i class="fa fa-bars"></i>
        </div>

        <!-- my personal logo -->
        <a href="/"><img class="ec-logo" src="/img/ec_logo.png" alt="edwin choate logo"></a>

        <!-- transparent overlay -->
        <div class="overlay"></div>

        <!-- top-level nav links -->
        <div class="menu-links">
          <!-- iterate thru page layouts -->
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <a class="menu-page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>

    </nav>

</header>
