$theme-light-bg-color:    #ccc;
$theme-light-text-color:  #333;

$text-color:       $theme-light-text-color;
$background-color: $theme-light-bg-color;
$background-image: url("/img/theme-light-bg-texture.png");

.menu-bar {
  .fa {
    color: $theme-light-text-color;
  }
}

#footer {
  i.fa {
    color: $theme-light-text-color;
  }
}

p {
  color: $theme-light-text-color;
}
