<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="wrapper">

      <script src="/bower_components/jquery/dist/jquery.min.js"></script>
      <div id="header">{% include header.html %}</div>
      <script src="/js/main.js"></script>

      <div id="content" class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      <script src="/js/prism.js"></script>
      <div id="footer">{% include footer.html %}</div>
    </div>

  </body>

</html>
