---
layout: default
---

<div class="home">

    {{ content }}

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    {%- if site.case_studies.size > 0 -%}
      {%- for case_study in site.case_studies -%}
        <h3>
          <a class="post-link" href="{{ case_study.url | relative_url }}">
            {{ case_study.title | escape }}
          </a>
          <span class="post-meta">{{ case_study.summary | escape }}</span>
        </h3>
        <span class=""></span>
      {%- endfor -%}
    {%- endif -%}
  
</div>
