---
layout: default
---

<div class="home">

    {{ content }}

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <p><b>Only got a minute?</b> Check out the <a href="/showcase">showcase</a>.</p>

    {%- if site.case_studies.size > 0 -%}
        {%- for case_study in site.case_studies -%}
        <div style="display: flex; align-items: center; margin-bottom: 32px;">
          {% if case_study.thumbnail %}
            <img src="{{ case_study.thumbnail }}" style="width: 72px; margin: 16px;" alt="" />
          {% endif %}
          <div>
            <a class="post-link" href="{{ case_study.url | relative_url }}" style="margin-bottom: 10px;">
              {{ case_study.title | escape }}
            </a>
            <span>{{ case_study.subtitle | escape }}</span>
          </div>
        </div>
        {%- endfor -%}
    {%- endif -%}

    <button onclick="window.location.href='#top'">&uarr; Back to Top</button>
  
</div>
